<%- include("common/nav"); -%>
<h1>User Login page</h1>
<form action="">
    <input type = "text" name = 'email'><br><br>
    <input type = "password" name = "passoword"><br><br>
    <button type="submit">Login</button>


</form>