<ul class = 'nav'>
    <li><a href="/">Home</a></li>
    <li><a href="/Login">Login</a></li>
    <li><a href="/profile/jai">Profile</a></li>
</ul>
<style>
    body{
        background-color: blueviolet;
        color: white;
    }
    a{
       color: aquamarine; 
    }
    .nav li{
        display:inline-block;
    }
</style>